<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tower.ssm.mapper.UserPoMapper" >
  <resultMap id="BaseResultMap" type="com.tower.ssm.po.UserPo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="issuper" property="issuper" jdbcType="INTEGER" />
    <result column="usergroup" property="usergroup" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="lastontime" property="lastontime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, issuper, usergroup, priority, createtime, lastontime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tower.ssm.po.UserPo" >
    insert into user_info (id, username, password, 
      issuper, usergroup, priority, 
      createtime, lastontime)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{issuper,jdbcType=INTEGER}, #{usergroup,jdbcType=VARCHAR}, #{priority,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastontime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tower.ssm.po.UserPo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="issuper != null" >
        issuper,
      </if>
      <if test="usergroup != null" >
        usergroup,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="lastontime != null" >
        lastontime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="issuper != null" >
        #{issuper,jdbcType=INTEGER},
      </if>
      <if test="usergroup != null" >
        #{usergroup,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastontime != null" >
        #{lastontime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tower.ssm.po.UserPo" >
    update user_info
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="issuper != null" >
        issuper = #{issuper,jdbcType=INTEGER},
      </if>
      <if test="usergroup != null" >
        usergroup = #{usergroup,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastontime != null" >
        lastontime = #{lastontime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tower.ssm.po.UserPo" >
    update user_info
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      issuper = #{issuper,jdbcType=INTEGER},
      usergroup = #{usergroup,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      lastontime = #{lastontime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>