[submodule "goshop"]
	path = goshop
	url = git@github.com:yew1eb/goshop.git
[submodule "jeesite"]
    path = jeesite
    url = git@github.com:yew1eb/jeesite.git
[submodule "weblog"]
    path = weblog
    url = git@github.com:yew1eb/weblog.git
[submodule "stackinfo"]
    path = stackinfo
    url = git@github.com:yew1eb/stack-info.git
[submodule "java-china"]
    path = java-china
    url = git@github.com:yew1eb/java-china.git