<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <properties>
        <property name="LOG_HOME">/Users/yew1eb/logs/</property>
        <property name="SERVER_NAME">ssm</property>
        <property name="PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%level] %c{1} - %msg%n</property>
    </properties>

    <appenders>
        <!-- 定义控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
        </Console>
        <!-- 输出到文件 -->
        <RollingRandomAccessFile name="LogFile" fileName="${LOG_HOME}/${SERVER_NAME}"
                                 filePattern="${LOG_DIR}/file-%d{yyyy-MM-dd}.log.gz">
            <patternLayout pattern="${PATTERN}"/>
            <policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </policies>
        </RollingRandomAccessFile>
    </appenders>

    <loggers>
        <!-- Root Logger -->
        <root level="DEBUG">
            <appender-ref ref="Console"/>
            <appender-ref ref="LogFile"/>
        </root>
    </loggers>
</configuration>